body {
    background-color: #d8d8d8;
}
table {
    margin: 20px;
}
td {
    padding: 5px 10px;
}
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.calcular {
    margin-top: 20px;
}
.bg-red{background-color: #ff9999;}
.p-10-20{padding: 10px 20px;}
.text-center{text-align: center;}
.border-rad{border-radius: 30px;}