# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\im.alan.kurc\Cursos\UTN - Diplomatura en programación web full stack con React JS\practicas\modulo2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
